<div class="row m-0" style="min-height: 100vh;">
  <div class="col-md-8 py-4">
    <div class="container">
      <h4 class="text-center font-weight-bold mt-2 mb-0"><span class="text-red-primary">Lissajous</span> Curve.</h4>
      <br>
      <div class="text-secondary">
        Lissajous curve is the graph of a system of following parametric equations which describe complex harmonic motion.
        <pre class="mt-2 text-center">x = Asin(at + ϕ), y = Bsin(bt)</pre>
      </div>
      <div class="card card-body shadow-sm bg-light">
        <div class="text-sm text-secondary">GRAPH</div>
        <div class="text-center m-4" [ngClass]="loaderClass">
          <div class="spinner-border text-red-primary" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <canvas #canvas height="0"></canvas>
      </div>
    </div>

  </div>
  <div class="col-md-4 py-4 bg-red-secondary shadow-sm">
    <div class="d-none d-md-block">
      <h4 class="text-red-secondary my-2">Hidden</h4>
      <br>
    </div>
    <div class="container">
      <p class="text-secondary text-sm">PARAMETERS</p>
      <div class="form-group">
        <label>A : <span class="font-weight-bold">{{A}}</span></label>
        <input type="range" class="custom-range" min="-10" max="10" [ngModel]="A" (change)="A=$event.target.value;simulate()">
      </div>
      <div class="form-group">
        <label>a : <span class="font-weight-bold">{{a}}</span></label>
        <input type="range" class="custom-range" min="-10" max="10" [ngModel]="a" (change)="a=$event.target.value;simulate()">
      </div>
      <div class="form-group">
        <label>B : <span class="font-weight-bold">{{B}}</span></label>
        <input type="range" class="custom-range" min="-10" max="10" [ngModel]="B" (change)="B=$event.target.value;simulate()">
      </div>
      <div class="form-group">
        <label>b : <span class="font-weight-bold">{{b}}</span></label>
        <input type="range" class="custom-range" min="-10" max="10" [ngModel]="b" (change)="b=$event.target.value;simulate()">
      </div>
      <div class="form-group">
        <label>ϕ : <span class="font-weight-bold">{{c}} π</span></label>
        <input type="range" class="custom-range" min="0" max="1" step="0.01" [ngModel]="c" (change)="c=$event.target.value;simulate()">
      </div>
      <br>
      <div class="text-center">
        <a target="_blank" rel="noopener" href="https://github.com/monkeyscript/lissajous-curve"><i class="fa fa-lg fa-github fa-fw social-icon" data-toggle="tooltip" title="Github"></i></a> 
      </div>
    </div>
  </div>
</div>