/* You can add global styles to this file, and also import other style files */
*{
    font-family: 'Quicksand', sans-serif;
}

.text-sm{
    font-size: small;
}

.bg-red-primary{
    background-color: #ff6e6e;
}

.bg-red-secondary{
    background-color: #fee6e6;
}

.bg-red-tertiary{
    background-color: #fdf2f2;
}

.text-red-primary{
    color: #ff6e6e;
}

.text-red-secondary{
    color: #fee6e6;
}

.custom-range::-webkit-slider-thumb {
    background: #ff6e6e !important;
}
  
.custom-range::-moz-range-thumb {
    background: #ff6e6e !important;
}

.custom-range::-ms-thumb {
    background: #ff6e6e !important;
}